<!DOCTYPE html>
<html>

<head>
  <title>Weather App</title>

  <link rel="icon" href="/images/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
  <div class="container">
    <header>
      <h1>Weather</h1>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </div>
    </header>